* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  color: white;
}

body {
  background-image: linear-gradient(0deg, #420042, #013b3b);
}

.HomeView {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding-top: 5em;
  align-items: center;
}

.homeTitle {
  text-align: center;
}

.homeTitle h1 { 
  font-size: 50px;
  color: #00ffbf;
}

.homeTitle h3 { 
  font-size: 30px;
  color: hsl(318, 100%, 50%);
}

.form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.username-label {
  margin-bottom: 1em;
}

.username {
  margin-bottom: 1em;
  padding: 10px;
  color: hsl(318, 100%, 50%);
  background-color: transparent;
  border: 1px solid #00ffbf;
  border-radius: 5px;
  font-size: 15px;
  transition: .4s;
}

.username:focus {
  outline: none;
  border: 3px solid hsl(318, 100%, 50%);
  transition: .4s;
}

.form-button {
  padding: 10px;
  color: hsl(318, 100%, 50%);
  background-color: transparent;
  border: 1px solid #00ffbf;
  transition: .4s;
  border-radius: 5px;
}

.form-button:hover {
  padding: 10px;
  color: hsl(318, 100%, 50%);
  background-color: transparent;
  border: 3px solid hsl(318, 100%, 50%);
  transition: .4s;
}

.form-button:focus {
  outline: none;
}

.form-button:active {
  transition: none;
  color: #00ffbf;
}

.instructions-container {
  margin-top: 3em;
}

.Moves button {
  padding: 8px 12px;
  margin-right: 5px;
  font-size: 12px;
  border: 1px solid black;
}

.ScoreView {
  font-size: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.ScoreView h2 {
  margin-bottom: 20px;
}

.scoreUl {
  list-style: none;
}

.scoreLi {
  display: flex;
  flex-flow: row nowrap;
  width: 200px;
  justify-content: space-between;
}
